body {
  font-family: 'Dosis', sans-serif;
  width: 100%;
  height: 100vh;
  .body-overlay {
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: fixed;
    z-index: -1;
  }

  /* MENU + LOGO */
  /***************/

  .menu-button-container {
    @media (min-width: 200px) {
      height: 100px;
    }
    @media (min-width: 768px) {
      height: 70px;
    }
    text-align: right;
    width: 100%;
    background: black;
    .menu-logo {
      @media (min-width: 768px) {
        height: 70px;
        margin: 0;
        float: left;
      }
      @media (min-width: 1200px) {
        width: 30%;
      }
      width: 40%;
      height: 50px;
      margin: 0 auto;
      border: 10px solid black;
      background-size: contain !important;
    }
    .menu-contact-link {
      @media (min-width: 200px) {
        display: none;
      }
      display: inline-block;
      float: right;
      height: 70px;
      margin: 0 2%;
    }
    .menu-search {
      @media (min-width: 200px) {
        width: 100%;
      }
      @media (min-width: 768px) {
        display: inline-block;
        float: right;
        height: 70px;
        width: 40%;
      }
      @media (min-width: 1200px) {
        width: 25%;
      }
      #custom-search-input{
        @media (min-width: 200px) {
          width: 70%;
          margin: 0 auto;
          border-radius: 0;
        }
        @media (min-width: 768px) {
          border-radius: 6px;
        }

        background-color: #fff;
      }
      #custom-search-input input{
        border: 0;
        box-shadow: none;
        @media (min-width: 200px) {
          height: 30px;
        }
      }
    }
    .menu-button {
      display: none;
      position: absolute;
      right: 0;
      top: 0;
      width: 70px;
      height: 70px;
      background: black;
      background-size: 50% 50% !important;
      z-index: 99;
      cursor: pointer;
    }
  }

  /* FOOTER CONTAINER */
  /********************/
  .footer-container {
    width: 100%;
    background: black;
    color: white;
    .footer-stories-counter {
      @media (min-width: 200px) {
        padding: 100px;
      }
      @media (min-width: 1200px) {
        padding: 80px;
      }
      text-align: center;
      button {
        padding: 10px 30px;
        margin-top: 10px;
      }
    }
    .footer-delimiter {
      width: 90%;
      height: 2px;
      margin: 0 auto;
      background: white;
    }
    .footer-social {
      @media (min-width: 768px) {
        padding: 5%;
      }
      @media (min-width: 1200px) {
        padding: 2%;
      }
      padding: 10%;
      width: 100%;
      text-align: center;
      img {
        @media (min-width: 576px) {
          width: 60%;
        }
        @media (min-width: 992px) {
          width: 30%;
        }
        width: 100%;
      }
    }
    .footer-copyright {
      padding: 10px;
      text-align: center;
    }
  }
  
  
  
  /* HEADER AND SLIDER PROPERTIES */
  /********************************/
  .container-fluid {
    background: rgba(0,0,0,0.5);
  }

  .slider-container {
    padding: 0;
    background: white;
    img {
      width: 100%;
    }
    button {
      position: absolute;
      right: 0;
      top: 0;
      padding: 15px;
      z-index: 99;
      border-radius: 0;
      background: rgba(0,0,0,0.6);
      color: white;
      @media (min-width: 200px) {
        display: none;
      }
      @media (min-width: 768px) {
        display: block;
        width: 40%;
        font-size: 14px;
      }
      @media (min-width: 992px) {
        width: 40%;
        font-size: 18px;
      }
      @media (min-width: 1200px) {
        width: 30%;
      }
    }
  }
  .bx-wrapper {
    margin: 0;
    border: none;
  }
  .quote-container {
    width: 100%;
    color: wheat;
    text-align: center;
    @media (min-width: 200px) {
      padding: 0;
    }
    @media (min-width: 992px) {
      padding: 100px 150px;
    }
    .quote {
      font-weight: 200;
      @media (min-width: 200px) {
        padding: 50px 20px 0 20px;
        font-size: 18px;
      }
      @media (min-width: 992px) {
        padding: 50px 20px;
        font-size: 24px;
      }
    }
    .author {
      @media (min-width: 200px) {
        padding: 20px 0;
        font-size: 15px;
      }
      @media (min-width: 992px) {
        font-size: 20px;
      }
    }
  }


  /* DIVIDERS BETWEEN SECTIONS */
  /*****************************/

  .articles-title-container {
    margin-top: 40px;
    padding: 0;
    @media (max-width: 768px) {
      margin-top: 0;
    }
  }
  .article-title-lower-border {
    width: 100%;
    height: 3px;
    background: whitesmoke;
  }
  .articles-title {
    height: 100%;
    padding: 10px;
    text-align: center;
    background: white;
    font-size: 20px;
  }
  .articles-title::before {
    @media (min-width: 200px) {
      display: none;
    }
    @media (min-width: 992px) {
      display: block;
      content: "";
      bottom: 0;
      right: -15px;
      position: absolute;
      width: 0;
      height: 0;
      border-bottom: 15px solid white;
      border-right: 15px solid transparent;
    }
  }


  /* MOST POPULAR SECTION */
  /************************/

  .top-container img {
    max-width: 100%;
    transition: all 0.5s;
  }
  .top-story {
    padding: 0 !important;
    overflow: hidden;
  }
  .top-story:hover img {
    transform: scale(1.3);
    opacity: 0.5;
    transition: all 0.5s;
  }
  .top-story-overlay {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 15px;
    background: rgba(0,0,0,0.7);
    text-align: left;
    a {
      outline: none;
      text-decoration: none;
    }
    a p {
      margin: 0;
      color: white;
    }
    .published {
      font-size: 12px;
      color: wheat;
      margin-top: 0;
      margin-bottom: 0;
      text-align: left;
      font-weight: 200;
    }
  }

  .pagination {
    padding: 40px;
    li {
      padding: 10px 15px;
      background: black;
      color: white;
      font-size: 20px;
    }
  }


  /* SEARCH RESULTS */
  /******************/
  .articles-found {
    text-align: center;
    background: rgba(255,255,255,0.1);
    h4 {
      padding: 30px;
      font-weight: 200;
    }
  }
  .search-result-container {
    padding: 50px;
    text-align: center;
    font-size: 28px;
    border-bottom: 1px solid lightgoldenrodyellow;
    a {
      text-decoration: none;
      outline: none;
    }
  }


  /* SELECTED ARTICLE */
  /********************/

  .article-container {
    background: white;
    @media (min-width: 200px) {
      padding: 20px 0;
      text-align: center;
      h6 {
        font-size: 12px;
      }
    }
    @media (min-width: 992px) {
      padding: 50px;
    }
    .article-main-image {
      @media (min-width: 200px) {
        float: none;
      }
      @media (min-width: 992px) {
        float: left;
      }
    }
    img {
      //max-width: 300px;
      //max-height: 300px;
      padding: 20px;
      @media (min-width: 200px) {
        max-width: 100%;
        padding: 5px;
      }
      @media (min-width: 992px) {
        max-width: 300px;
        padding: 20px;
        float: right;
      }
    }
    p {
      @media (min-width: 200px) {
        padding: 5px 5%;
        text-align: left;
      }
      @media (min-width: 992px) {
        text-align: left;
        padding: 0;
      }
      img {
        @media (min-width: 200px) {
          text-align: left;
        }
      }
    }
    h2, h6 {
      padding: 0 20px;
      @media (min-width: 992px) {
        padding: 5px 20px 30px 20px;
      }
    }
    iframe {
      width: 100%;
    }
    //ul.share-buttons{
    //  list-style: none;
    //  padding: 0;
    //}
    //
    //ul.share-buttons li{
    //  display: inline;
    //}
    //
    //ul.share-buttons .sr-only{
    //  position: absolute;
    //  clip: rect(1px 1px 1px 1px);
    //  clip: rect(1px, 1px, 1px, 1px);
    //  padding: 0;
    //  border: 0;
    //  height: 1px;
    //  width: 1px;
    //  overflow: hidden;
    //}
    ul.share-buttons {
      list-style: none;
      display: inline-block;
      padding: 20px 0;
    }
    ul.share-buttons li {
      width: 20%;
      display: inline;
      img {max-width:60px;padding:10px;}
    }
  }

  .card-container {
    padding: 100px;
    text-align: center;
    background: black;
    color: white;
    font-weight: 200;
    border: 5px solid gold;
    @media (min-width: 200px) {
      padding: 10px;
    }
    table {
      width: 80%;
      margin: 0 auto;
      tr {
        border-bottom: 1px solid white;
        td {
          padding: 10px;
          @media (min-width: 200px) {
            padding: 10px 0;
            font-size: 14px;
          }
        }
        td:first-child {
          text-align: left;
        }
        td:last-child {
          text-align: right;
          color: gold;
          font-weight: bold;
          pre {
            text-align: right;
            color: gold;
            font-weight: bold;
            margin-bottom: 0;
          }
        }
      }
    }
  }


}