{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Cool stories about football players that are legends of the sport and their respective careers">
    <meta name="google-site-verification" content="oVolVAKZ4-HK5KUat4n8yDU3mUDIB_fukpXaZU9JNco" />
    <meta property="og:image" content="{% static 'images/fb-image.jpg' %}" />
    <title>Football Legends</title>
    <link rel="icon" type="image/png" href="{% static 'images/favicon-32x32.png' %}" sizes="32x32" />
    <link rel="icon" type="image/png" href="{% static 'images/favicon-16x16.png' %}" sizes="16x16" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-grid.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/jquery.bxslider.min.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}" />
    <link href="https://fonts.googleapis.com/css?family=Dosis:300,400,500&amp;subset=latin-ext" rel="stylesheet">

    <!-- OneSignal notifications -->
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
      var OneSignal = window.OneSignal || [];
      OneSignal.push(function() {
        OneSignal.init({
          appId: "f3c6e0cb-e9ac-4298-94b5-485239213629",
        });
      });
    </script>

</head>
<body style="background: url('{% static 'images/background.jpg' %}') top right no-repeat; background-attachment: fixed;">
    <div class="body-overlay"></div>
    <div class="menu-button-container">
        <a href="{% url 'home' %}"><div class="menu-logo" style="background: url('{% static 'images/logo.png' %}') center no-repeat;"></div></a>
{#        <div class="menu-contact-link btn">#}
{#            <a href="#">Suggest a story</a>#}
{#        </div>#}
        <div class="menu-search">
{#            <input type="search">#}
            <div id="custom-search-input">
                <div class="input-group col-md-12">
                    <form id="searchform" action="{% url 'search' %}" method="get" accept-charset="utf-8">
                        <input type="text" id="searchbox" class="form-control input-lg" name="q" placeholder="Search for stories..." />
                    </form>
                </div>
            </div>
        </div>
    </div>

    {% block home %}{% endblock %}

    {% block search %}{% endblock %}

    {% block article %}{% endblock %}


{#    TESTING PURPOSES#}
    {% block home_unpublished %}{% endblock %}

    {% block article_unpublished %}{% endblock %}
{#    -------------#}

    <div class="footer-container">
        {% if articles|length > 0 %}
        <div class="footer-stories-counter">
            <h4>STORIES PUBLISHED</h4>
            <h1>{{ articles|length }}</h1>
            <a href="mailto:someone@example.com?Subject=Story%20suggestion"><button class="btn btn-default">SUGGEST A STORY</button></a>
        </div>
        <div class="footer-delimiter"></div>
        {% endif %}

        <!-- Mailchimp Signup Form -->
        <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
        <style type="text/css">
            #mc_embed_signup{background:black; clear:left; font:18px 'Dosis',sans-serif; width:100%; padding:2% 0 0 0;}
            /* Add your own Mailchimp form style overrides in your site stylesheet or in this style block.
               We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
        </style>
        <style type="text/css">
            #mc-embedded-subscribe-form input[type=checkbox]{display: inline; width: auto;margin-right: 10px;}
            #mergeRow-gdpr {margin-top: 20px;}
            #mergeRow-gdpr fieldset label {font-weight: normal;}
            #mc-embedded-subscribe-form .mc_fieldset{border:none;min-height: 0px;padding-bottom:0px;}
            #mc_embed_signup_scroll label {font-size: 18px;}
        </style>
        <div id="mc_embed_signup">
        <form action="https://football-legends.us19.list-manage.com/subscribe/post?u=b0c8673b6060640cd5945c2bb&amp;id=6c09448fb6" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">SUBSCRIBE TO OUR MAILING LIST<br>TO GET NOTIFIED ABOUT NEW STORIES</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b0c8673b6060640cd5945c2bb_6c09448fb6" tabindex="-1" value=""></div>
            <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
            </div>
        </form>
        </div>
        <!--End Mailchimp signup form -->

        <div class="footer-social">
            <a href="https://www.facebook.com/retiredfootballlegends" target="_blank"><img src="{% static 'images/facebook.png' %}" /></a>
        </div>
        <div class="footer-copyright">2018 Football Legends © All rights reserved.</div>
    </div>





<script type="application/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/bootstrap.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/jquery.bxslider.min.js' %}"></script>
<script type="application/javascript" src="{% static 'js/base.js' %}"></script>


<!-- Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-127388698-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-127388698-1');
</script>

<!-- Maichimp popup -->
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/unique-methods/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script>
<script type="text/javascript">window.dojoRequire(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us19.list-manage.com","uuid":"b0c8673b6060640cd5945c2bb","lid":"6c09448fb6","uniqueMethods":true}) })</script>


</body>
</html>