{% extends 'base.html' %}
{% load static staticfiles %}

{% block search %}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 articles-found">
            <h4>Number of articles found: {{ search|length }}</h4>
        </div>
        {% for article in search %}
        <div class="col-lg-1"></div>
        <div class="col-lg-10 search-result-container">
            <a href="{% url 'articles' article.id %}">{{ article }}</a>
        </div>
        <div class="col-lg-1"></div>
        {% endfor %}
    </div>


</div>

<style>
div {
    color: white;
}
</style>






{% endblock %}